$accent: #8613cd;
$success: #2ea942;
$danger: #a92e2e;
$blue: #1976d2;
$lightblue: rgba(25, 118, 210, 0.81);
$accent-dark: #1e2337;
$dark: #323c47;
$lightbg: #edf8ff;
$gray: rgba(76, 88, 98, 0.7);
$sapphire: rgba(30, 35, 55, 0.7);
